body{
    background-color: black;
}
.twitter{
    text-align: center;
    margin-top: 160px;

}
.form{
    margin-left: 70px;
    color: white;
    font-size: 50px;
    margin-top: 100px;
}
#username{
    width: 500px;
    height: 50px;
    font-size: 40px;

}
#password{
    width: 500px;
    height:50px;
    font-size: 40px;
}
#submit{
    position: relative;
    left: 200px;
    background-color: aqua;
    margin-top: 50px;
    width: 100px;
    height: 50px;
    font-size: 20px;
}