body{
    background-color: black;
}
.div1{
    margin-top: 30px;
    color: white;
    font-size: 50px;
}
#headd{
    color: white;
    margin-top: 20px;
}
#username{
    width: 80%;
    height: 50px;
    font-size: 40px;
}
#password1{
    width: 80%;
    height: 50px;
    font-size:40px;
}
#password2{
    width: 80%;
    height: 50px;
    font-size: 40px;
}
#email{
    width: 80%;
    height: 50px;
    font-size: 40px;
}
#submit{
    color:blueviolet;
    width: 70px;
    height: 50px;   
    background-color: white;
    position: relative;
    left:40%; 
    margin-top: 40px;
}
#hint{
    color: white;
    font-size: 30px;
    text-align: center;
}